<footer class="footer">
    <div class="footer__contenedor">
        <div class="bandera">
            <a href="./index.html"><img class="bandera__img" src="./assets/images/bandera favicon.png" alt="Bandera Portugal"></a>
        </div>
        <div class="bloque-legal">
            <ul class="bloque-legal__politicas">
                <li><a class="bloque-legal__link" href="#">Aviso legal</a></li>
            </ul>
        </div>
        <div class="rrss">
            <ul class="rrss__contenedor">
                
                <li> 
                    <i class="rrss__icono fa-brands fa-instagram"></i> <a href="#"></a>
                </li>
                <li> 
                    <i class="rrss__icono fa-brands fa-facebook"></i><a href="#"></a>
                </li>
                <li> 
                    <i class="rrss__icono fas fa-map-marker-alt rrss__icono"></i><a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d198903.48711566362!2d-9.360639!3d38.835507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ed09be5d23323%3A0x400ebbde4903720!2sSintra%2C%20Portugal!5e0!3m2!1ses!2ses!4v1711129414182!5m2!1ses!2ses"></a>
                </li>
            </ul>
        </div>
    </div>
    </footer>
