<nav class="main-nav" aria-label="Main" id="nav"> 
    <button class="cerrar__menu" id="cerrar"><i class="cerrar__menu--x fa-solid fa-x"></i></button>
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Sobre Nosotros</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Lugares que visitar</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Experiencias</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Mapa</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Contacto</a>
        </li>
    </ul>
</nav>