@use "sass:color";

:root {

  /* Definir las variables de colores */
  --texto: rgb(22, 18, 0);
  --texto__video:rgb(255, 255, 255);
  --bg__hover: rgba(5, 56, 95, 0.603);
  --titulo__swiper: rgb(5, 56, 95);
  --color__1:  rgba(87, 0, 6, 0.589);
  --fondo: rgb(255, 255, 255);
  --fondo__contenedor--cards: rgb(250, 226, 113);
  --fondo__contenedor--medios: rgb(205,233,255);

  --titulo__card: rgb(199, 40, 51);
}